# ===== Java / Maven =====
target/
*.class
*.jar
*.war
*.ear
*.iml
*.log
*.jmod

# Maven / IntelliJ / IDE files
.idea/
*.ipr
*.iws
*.DS_Store
.mvn/wrapper/maven-wrapper.jar

# ===== Spring Boot =====
spring-boot-*.jar
spring-boot-*.war

# ===== Docker =====
*.env
*.dockerignore
docker-compose.override.yml

# ===== Helm =====
helm/**/charts/*.tgz
helm/**/Chart.lock

# ===== Kubernetes / Kustomize =====
# ارفع ملفات الـ eks/*.yaml عشان دي configs مهمة
# لكن تجاهل أي manifests generated أو مؤقتة
k8s/**/kustomization.yaml

# ===== Terraform =====
*.tfstate
*.tfstate.backup
.terraform/
.terraform.lock.hcl

# ===== VSCode / Editors =====
.vscode/
*.swp
*~

# ===== Logs / Temporary =====
logs/
*.log
tmp/
*.tmp

# ===== Static / Resources =====
target/classes/static/
target/classes/templates/


.terraform/
