apiVersion: apps/v1
kind: Deployment
metadata:
  name: bloggingapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: bloggingapp
  template:
    metadata:
      labels:
        app: bloggingapp
    spec:
      containers:
      - name: bloggingapp
        image: abdoomohamed/twitter-app:0.0.1
        ports:
        - containerPort: 8080
        env:
        - name: SPRING_DATASOURCE_URL
          value: jdbc:mysql://db:3306/twitterdb
        - name: SPRING_DATASOURCE_USERNAME
          value: root
        - name: SPRING_DATASOURCE_PASSWORD
          value: rootpass